<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cooperlink.ecplatform.system.persistence.mapper.OrgMapper" >
  <resultMap id="BaseResultMap" type="cn.cooperlink.ecplatform.system.entity.Org" >
    <id column="O_ID" property="id" jdbcType="BIGINT" />
    <result column="O_PARENT_ID" property="parentId" jdbcType="BIGINT" />
    <result column="O_SHORT_NAME" property="shortName" jdbcType="VARCHAR" />
    <result column="O_CODE" property="code" jdbcType="VARCHAR" />
    <result column="O_FULL_NAME" property="fullName" jdbcType="VARCHAR" />
    <result column="O_CHARGE" property="charge" jdbcType="BIGINT" />
    <result column="O_ORG_TYPE" property="orgType" jdbcType="INTEGER" />
    <result column="O_ID_FULLPATH" property="idFullpath" jdbcType="VARCHAR" />
    <result column="O_NAME_FULLPATH" property="nameFullpath" jdbcType="VARCHAR" />
    <result column="O_ORDER_FIELD" property="orderField" jdbcType="VARCHAR" />
    <result column="O_DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="O_TENANT_ID" property="tenantId" jdbcType="BIGINT" />
    <result column="O_VALIDITY" property="validity" jdbcType="INTEGER" />
    <result column="O_CREATE_BY" property="createBy" jdbcType="BIGINT" />
    <result column="O_CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="O_UPDATE_BY" property="updateBy" jdbcType="BIGINT" />
    <result column="O_UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    O.ID as O_ID, O.PARENT_ID as O_PARENT_ID, O.SHORT_NAME as O_SHORT_NAME, O.CODE as O_CODE, 
    O.FULL_NAME as O_FULL_NAME, O.CHARGE as O_CHARGE, O.ORG_TYPE as O_ORG_TYPE, O.ID_FULLPATH as O_ID_FULLPATH, 
    O.NAME_FULLPATH as O_NAME_FULLPATH, O.ORDER_FIELD as O_ORDER_FIELD, O.DESCRIPTION as O_DESCRIPTION, 
    O.TENANT_ID as O_TENANT_ID, O.VALIDITY as O_VALIDITY, O.CREATE_BY as O_CREATE_BY, 
    O.CREATE_TIME as O_CREATE_TIME, O.UPDATE_BY as O_UPDATE_BY, O.UPDATE_TIME as O_UPDATE_TIME
  </sql>
  
  <!-- 插入单条数据 -->
  <insert id="save" parameterType="cn.cooperlink.ecplatform.system.entity.Org" 
  	useGeneratedKeys="true" keyProperty="id">
    INSERT INTO SYS_ORG (ID, PARENT_ID, SHORT_NAME, 
      CODE, FULL_NAME, CHARGE, 
      ORG_TYPE, ID_FULLPATH, NAME_FULLPATH, 
      ORDER_FIELD, DESCRIPTION, TENANT_ID, 
      VALIDITY, CREATE_BY, CREATE_TIME, 
      UPDATE_BY, UPDATE_TIME)
    VALUES (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{shortName,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{charge,jdbcType=BIGINT}, 
      #{orgType,jdbcType=INTEGER}, #{idFullpath,jdbcType=VARCHAR}, #{nameFullpath,jdbcType=VARCHAR}, 
      #{orderField,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{tenantId,jdbcType=BIGINT}, 
      #{validity,jdbcType=INTEGER}, #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  
  <!-- 删除数据 -->
  <delete id="delete" parameterType="java.lang.Long" >
    DELETE FROM SYS_ORG
    WHERE ID = #{id,jdbcType=BIGINT}
  </delete>
  
  <!-- 修改数据 -->
  <update id="update" parameterType="cn.cooperlink.ecplatform.system.entity.Org" >
    UPDATE SYS_ORG
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="shortName != null" >
        SHORT_NAME = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        FULL_NAME = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="charge != null" >
        CHARGE = #{charge,jdbcType=BIGINT},
      </if>
      <if test="orgType != null" >
        ORG_TYPE = #{orgType,jdbcType=INTEGER},
      </if>
      <if test="idFullpath != null" >
        ID_FULLPATH = #{idFullpath,jdbcType=VARCHAR},
      </if>
      <if test="nameFullpath != null" >
        NAME_FULLPATH = #{nameFullpath,jdbcType=VARCHAR},
      </if>
      <if test="orderField != null" >
        ORDER_FIELD = #{orderField,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null" >
        TENANT_ID = #{tenantId,jdbcType=BIGINT},
      </if>
      <if test="validity != null" >
        VALIDITY = #{validity,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    WHERE ID = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 查询单条数据 -->
  <select id="getSingle" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM SYS_ORG O
    WHERE O.ID = #{id,jdbcType=BIGINT}
    AND O.TENANT_ID = #{tenantId, jdbcType=BIGINT}
  </select>
  
  <!-- 查询所有 -->
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM SYS_ORG O 
    WHERE O.TENANT_ID = #{tenantId, jdbcType=BIGINT}
  </select>
  
  <!-- 条件查询 -->
  <select id="findByCondition" resultMap="BaseResultMap" parameterType="map" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM SYS_ORG O
    WHERE
    	O.TENANT_ID = #{tenantId, jdbcType=BIGINT}
    <if test="limit != null and start != null" >
       LIMIT #{start, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER} 
    </if>
  </select>
  
  <!-- 统计记录数 -->
  <select id="count" resultType="long" parameterType="map" >
    SELECT COUNT(1) FROM SYS_ORG O
    WHERE
    	O.TENANT_ID = #{tenantId, jdbcType=BIGINT}
  </select>
  
  <select id="getOrgTree" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	SELECT 
  	<include refid="Base_Column_List" />
  	,P.SHORT_NAME as parentOrgName 
  	FROM SYS_ORG O 
  	LEFT JOIN 
  		SYS_ORG P ON O.PARENT_ID = P.ID
  	AND O.TENANT_ID = #{tenantId, jdbcType=BIGINT}
  	AND P.TENANT_ID = #{tenantId, jdbcType=BIGINT}
  </select>
  
  <!-- 查找下一个排序号 -->
  <select id="nextSequence" parameterType="map" resultType="map">
		select 
			(select p.ORDER_FIELD from sys_org p where 
				<choose>
					<when test="parentId == null || parentId == 0">
						(p.id = 0 or p.id is null)
					</when>
					<otherwise>
						p.id = #{parentId, jdbcType=BIGINT}
					</otherwise>
				</choose>
			) PARENT_SEQ, 
			c.cmax SEL_SEQ 
		from 
			(select max(c1.ORDER_FIELD) cmax, max(c1.PARENT_ID) cpoi from sys_org c1 where 
				<choose>
					<when test="parentId == null || parentId == 0">
						(c1.PARENT_ID = 0 or c1.PARENT_ID is null)
					</when>
					<otherwise>
						c1.PARENT_ID = #{parentId, jdbcType=BIGINT}
					</otherwise>
				</choose>
			) c 
  </select>
  
  <update id="updateOrgIdFullpath" parameterType="cn.cooperlink.ecplatform.system.entity.Org">
  	UPDATE SYS_ORG
  	<set>
  		<if test="idFullpath != null">
  			ID_FULLPATH = ${idFullpath}
  		</if>
  	</set>
  	WHERE ID = #{id, jdbcType=VARCHAR}
  	AND TENANT_ID = #{tenantId, jdbcType=VARCHAR}
  </update>
  
  <select id="getOrgPersonCount" parameterType="java.lang.Long" resultType="java.lang.Long">
  	SELECT COUNT(*) FROM SYS_USER U, SYS_ORG_USER OU 
  	WHERE U.ID = OU.USER_ID AND OU.ORG_ID = #{orgId, jdbcType=BIGINT} 
  </select>
  
</mapper>