.lbl-camera-name {
	padding-left:5px;
    font-size: 12px;
    text-align: right;
    float: left;
    line-height:25px;
}
.lbl-camera-cage {
	padding-left:5px;
    font-size: 12px;
    text-align: right;
    float: left;
    line-height:25px;
}
.lbl-camera-binding {
    padding-left:5px;
    font-size: 12px;
    text-align: right;
    float: left;
    line-height:25px;
}
.lbl-camera-search {
	padding-left:5px;
    font-size: 12px;
    text-align: right;
    float: left;
    line-height:25px;
}
.lbl-camera-reset {
    font-size: 12px;
    text-align: right;
    float: left;
    line-height:25px;
}